body {
    margin-left: 200px;
    margin-right: 200px;
    background-image: url(https://wallpaper.dog/large/20486766.png)
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
}

.wrapped {
    color: black;
    font-family: 'Raleway', sans-serif;
}

#start {
    cursor: pointer;
}

