body {
    margin: 3px;
    height: 100%;
}
.blue-chips {
    margin: auto;
    position: relative;
    right: -200px;
    width: 60px;
    top: 420px;
}

.chip-count-1 {
    position: absolute;
    color: white;
    top: 20px;
    right: 3px;
}

.red-chips {
    margin: auto;
    position: relative;
    right: -200px;
    width: 60px;
   bottom: 150px;
}

.chip-count-2 {
    position: absolute;
    color: white;
    top: 20px;
    right: 3px;
}

.roll {
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding: 1%;
    right: -380px;
    top: 120px;
    margin: auto;
}

.dice {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 440px;
}

.dice-1 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin-right: 5px;
    text-align: center;
    font-size: 40px;
    
}

.dice-2 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}

.dice-3 {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}

.container {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: center;
    margin-left: 150px;
    margin-right: 70px;
    width: 350px;
    height: 200px;
    bottom: 300px;
    
}

.container-2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 350px;
    margin-left: 150px;
    
}

.container-3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 350px;
    margin-left: 150px;
    bottom: 20px;
}



.restart-game {
    font-family: 'Raleway', sans-serif;
    position: relative;
    bottom: -120px;
    padding: 1%;
    right: -75px
}


