body {
    margin: 3px;
    height: 100%;
}
.player-1-chips {
    margin: auto;
    position: relative;
    width: 60px;
    top: 480px;
}

.chip-count-1 {
    position: absolute;
    color: white;
    top: 20px;
    right: 1px;
}

.player-2-chips {
    margin: auto;
    position: relative;
    width: 60px;
   bottom: 75px;
}

.chip-count-2 {
    position: absolute;
    color: white;
    top: 20px;
    right: 1px;
}

.roll {
    
    position: relative;
    padding: 1%;
    right: -150px;
    top: 50px;
    color: blue;
    margin: auto;
    
}
