body {
    margin: 3px;
    height: 100%;
}
.blue-chips {
    margin: auto;
    position: relative;
    right: -100px;
    width: 60px;
    top: 485px;
}

.chip-count-1 {
    position: absolute;
    color: white;
    top: 20px;
    right: 1px;
}

.red-chips {
    margin: auto;
    position: relative;
    right: -100px;
    width: 60px;
   bottom: 80px;
}

.chip-count-2 {
    position: absolute;
    color: white;
    top: 20px;
    right: 1px;
}

.roll {
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding: 1%;
    right: -250px;
    top: 200px;
    margin: auto;
}

.dice {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 245px;
}

.dice-1 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin-right: 5px;
    text-align: center;
    font-size: 40px;
    
}

.dice-2 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}

.dice-3 {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}

.container {
    position: absolute;
    margin-left: 50px;
    width: 350px;
    height: 400px;
    bottom: 120px;
}

.description {
    font-family: 'Raleway', sans-serif;
}

.restart-game {
    font-family: 'Raleway', sans-serif;
    position: relative;
    bottom: -200px;
    padding: 1%;
}


